
Udemy.TodoAppNTier/Udemy.ToDoAppNTier.UI/obj/Debug/net5.0/Udemy.ToDoAppNTier.UI.AssemblyInfo.cs
Udemy.TodoAppNTier/.vs/Udemy.TodoAppNTier/v17/DocumentLayout.json
Udemy.TodoAppNTier/.vs/Udemy.TodoAppNTier/v17/DocumentLayout.backup.json
Udemy.TodoAppNTier/.vs/Udemy.TodoAppNTier/v17/.suo
Udemy.TodoAppNTier/.vs/Udemy.TodoAppNTier/v17/.futdcache.v2
Udemy.TodoAppNTier/.vs/Udemy.TodoAppNTier/FileContentIndex/44600809-f73a-40ae-a5e6-29ac2d863b0c.vsidx
Udemy.TodoAppNTier/.vs/ProjectEvaluation/udemy.todoappntier.strings.v9.bin
Udemy.TodoAppNTier/.vs/ProjectEvaluation/udemy.todoappntier.metadata.v9.bin
Udemy.TodoAppNTier/Udemy.ToDoAppNTier.UI/obj/Debug/net5.0/Udemy.ToDoAppNTier.UI.AssemblyInfoInputs.cache
