@using PassingData.Models
<p>

    Merhaba @ViewBag.UserName

</p>


<p>
    Merhaba @ViewBag.User.firstName 

</p>

<ul>
    @foreach (User user in ViewBag.Users)
    {
        <li>@user.firstName</li>
    }

</ul>