@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <!-- CSS Bağlantısı -->
    <link rel="stylesheet" href="~/css/style.css">

</head>
<body>

    <form asp-action="Index" asp-controller="MainPage" method="post">
        <table border="1" style="border-collapse: collapse; float: right; margin-right: 150px;">
            <thead>
                <tr>
                    <th style="padding: 10px; text-align:center;">Durum</th>
                    <th style="padding: 10px; text-align:center;">Renk Seçimi</th>
                </tr>
            </thead>
            <tbody>
                <tr >
                    <td style="padding: 10px;">Boş</td>
                    <td style="padding: 10px;"><input type="color" id="inputStatusColorEmpty" onclick="selectColor(this.id,'--red');" /> </td>
                </tr>
                <tr >
                    <td style="padding: 10px;">Dolu</td>
                    <td style="padding: 10px;"><input type="color" id="inputStatusColorFull" onclick="selectColor(this.id,'--blue');" /> </td>
                </tr>
                <tr >
                    <td style="padding: 10px;">Arızalı</td>
                    <td style="padding: 10px;"><input type="color" id="inputStatusColorBroken" onclick="selectColor(this.id,'--green');" /> </td>
                </tr>
                <tr >
                    <td style="padding: 10px;">Kirli</td>
                    <td style="padding: 10px;"><input type="color" id="inputStatusColorDirty" onclick="selectColor(this.id,'--yellow');" /> </td>
                </tr>
                <tr >
                    <td style="padding: 10px;">Rezerve</td>
                    <td style="padding: 10px;"><input type="color" id="inputStatusColorReserved" onclick="selectColor(this.id,'--pink');" /> </td>
                </tr>
            </tbody>
        </table>
    </form>

    <div class="circle empty">Boş</div>
    <div class="circle full">Dolu</div>
    <div class="circle broken">Arızalı</div>
    <div class="circle dirty">Kirli</div>
    <div class="circle reserved">Rezerve</div>

    <script src="~/js/demo.js"></script>
</body>
</html>