

<h2 style="text-align:center"> Kullanıcı Ekleme Sayfası </h2>


<form method="post" action="/user/addUser">
    <label for="name">Kullanıcı Adı</label>    <br />
    <input type="text" name="name" id="firstName" />   <br />    
    <label for="lastName">Soyadı</label> <br />
    <input type="text" name="lastName" id="lastName" />  <br />
    <input type="submit" value="Kullanıcı Ekle" />
</form>